name: EPG

on:
  # schedule:
  #   - cron: "*/15 * * * *"
  workflow_dispatch:          # 手动触发
# 设置时区
env:
  TZ: 'Asia/Shanghai'
  
jobs:
  update-epg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: 运行EPG脚本
        run:  py/TV/EPG/epg.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git add py/TV/EPG/epg.xml
          git commit -m "自动更新：epg文件" || echo "⚠️ 无需提交"
          git push origin main || echo "⚠️ 推送失败"
