name: test.py

on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:          # 手动触发

jobs:
  fetch-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
          
      - name: Run test.py 
        run:  python py/测试/test.py    
        
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "更新ip"
          # git commit *.m3u -m "Add generated file"
          git push --force origin main        
